.info {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    .item {
        margin-right: 0.5rem;
    }
    .name {
        font-size: 1.2rem;
    }
    .hits {
        font-size: 1rem;
    }
}
