.game-info {
    font-size: 0.875rem;
    margin-bottom: 2rem;
    display: flex;
}

.end-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.end-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    .info-txt {
        font-size: 64px;
        color: #fff;
        .yellow {
            color: #FFE100;
        }
        .red {
            color: #FF0000;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
        }
    }
    .plus {
        background-image: url('/img/icon_plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 8.125rem;
        height: 8.125rem;
    }
    .star {
        background-image: url('/img/icon_star.svg');
        background-position: center;
        background-repeat: no-repeat;
        width: 8.125rem;
        height: 8.125rem;
    }
}

.more-info {
    background-color: rgba(255, 255, 255, 0.4);
    height: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.063rem solid #97deff;
    p {
        margin: 0;
    }
}

.container-grid {
    h4 {
        display: flex;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 0.875rem;
        font-weight: bold;
        color: #fff;
        max-width: 18.75rem;
        i {
            margin-right: 0.5rem;
        }
        .name {
            margin-left: auto;
        }
        .yellow {
            color: #FFE100;
        }
    }
}

.info {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    .item {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 100%;
    }
    .name {
        font-size: 0.95rem;
        font-weight: bold;
    }
    .hits {
        font-size: 0.85rem;
        margin-left: auto;
        color: #fff;
    }
}
