<div class="container text-center my-3">
    @if (!gameOver) {

    <div class="more-info">
        <div [innerHTML]="message"></div>
    </div>


    <div class="row">
        <div class="col">
            <div class="container-grid">
                <h4><i class="bi bi-yin-yang"></i>Player</h4>
                <div>
                    <app-grid [clickable]="false" [ships]="playerShips" [grid]="playerGrid" [hits]="playerHits"></app-grid>
                    <div>
                        <ul class="info">
                            @for (ship of playerShips; track $index; let i = $index) {
                            <li class="item">
                                <div class="name">
                                    <span>{{ ship.name }}</span>
                                </div>
                                <div class="hits">
                                    {{ ship.hits }}/{{ ship.size }} @if (ship.sunk) { (Sunk!) }
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="container-grid">
                <h4><i class="bi bi-robot"></i>Computer</h4>
                <div>
                    <app-grid [clickable]="!gameOver " [ships]="computerShips" [grid]="computerGrid " [hits]="computerHits " (cellClicked)="onCellClick($event.row, $event.col) "></app-grid>
                    <div>
                        <ul class="info">
                            @for (ship of computerShips; track $index; let i = $index) {
                            <li class="item">
                                <div class="name">
                                    <span>{{ ship.name }}</span>
                                </div>
                                <div class="hits">
                                    {{ ship.hits }}/{{ ship.size }} @if (ship.sunk) { (Sunk!) }
                                </div>

                            </li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-danger mt-3 " (click)="restartGame() "><i class="bi bi-stop-fill me-2"></i>Stop</button> } @if (gameOver) { @if(computerWin) {
    <div class="end-game">
        <h2>Well done!</h2>
        <div class="end-container">
            <div class="star"></div>
            <div class="info-txt">You <span class="yellow">win</span>!</div>
        </div>
    </div>} @else {
    <div class="end-game">
        <h2>Sorry!</h2>
        <div class="end-container">
            <div class="plus"></div>
            <div class="info-txt">You <span class="red">loose</span>!</div>
        </div>

    </div>
    }
    <!-- GAME OVER BLOCK -->
    <button class="btn btn-lg btn-dark mt-auto " (click)="restartGame() "><i class="bi bi-play-fill me-2"></i>Restart</button> }
</div>