/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'ABeeZee', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ABeeZee', sans-serif;
}

.btn {
    border-radius: 2rem;
    transition: transform 0.15s ease;
    &.btn-primary {
        background-color: #03425E;
    }
    border: 2px solid #fff;
    color: #fff;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.95);
    }
}

.btn-group {
    .btn {
        border: 2px solid transparent;
        background-color: #018FD0;
        &:hover {
            transition: none;
            background-color: #03425E;
            border: 2px solid #fff;
        }
        &:active {
            transition: none;
            background-color: #03425E;
            border: 2px solid #fff;
        }
    }
}