header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.logo {
    background-image: url('/img/logo_battlefield.svg');
    height: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 17.5rem;
    display: flex;
    margin-top: 0.5rem;
}
