.logo {
    background-image: url('/img/logo.png');
    height: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
