.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 12rem;
}

.target {
    background-image: url('/img/target_warship.svg');
    height: 7.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 7.5rem;
    display: flex;
    margin-top: 2rem;
    filter: blur(5px);
    animation: focusTarget 3s infinite;
}

@keyframes focusTarget {
    0% {
        filter: blur(5px);
        transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        filter: blur(0);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        filter: blur(5px);
        transform: scale(0.95);
        opacity: 0.7;
    }
}

.container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
