.message {
    height: 1.25rem;
}

.instruction {
    margin-top: 1rem;
}

.ship-icon {
    background-image: url('/img/icon_ship.svg');
    height: 3.125rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.125rem;
    display: flex;
}

.ship-icon-vertical {
    @extend .ship-icon;
    transform: rotate(90deg);
    height: 3.125rem;
}

.cell {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-cell {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
}


/* Base navire */

.ship-start,
.ship-middle,
.ship-end {
    border: 1px solid red;
    position: relative;
    overflow: hidden;
}

.ship-start.horizontal,
.ship-middle.horizontal,
.ship-end.horizontal {
    background-image: url('/img/icon_ship.svg');
    background-repeat: no-repeat;
    background-size: calc(var(--ship-size) * 100%) 100%;
}

.ship-start.horizontal {
    background-position: left center;
    border-radius: 0.5rem 0 0 0.5rem;
}

.ship-middle.horizontal {
    background-position: center center;
    border-radius: 0;
}

.ship-end.horizontal {
    background-position: right center;
    border-radius: 0 0.5rem 0.5rem 0;
}

.ship-start.vertical,
.ship-middle.vertical,
.ship-end.vertical {
    border: 1px solid red;
}

.ship-vertical-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--ship-size) * 100%);
    background-image: url('/img/icon_ship.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
}

.cell.horizontal {
    border-right: unset;
    border-left: unset;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
