<div class="container text-center">
    <h2 class="instruction">Place Your Ships</h2>

    <p>
        @if (currentShipIndex
        < ships.length) { <span>Current ship:</span>
            {{ ships[currentShipIndex].name }} } @else { <span>All ships placed!</span> }
    </p>

    <div class="btn-group mb-3" role="group" aria-label="Ship orientation">

        <!-- Horizontal -->
        <input type="radio" class="btn-check" name="orientation" id="orientation-horizontal" [checked]="horizontal" (change)="horizontal = true">
        <label class="btn btn-primary" for="orientation-horizontal">
        <div class="ship-icon"></div>
       
  </label>

        <!-- Vertical -->
        <input type="radio" class="btn-check" name="orientation" id="orientation-vertical" [checked]="!horizontal" (change)="horizontal = false">
        <label class="btn btn-primary" for="orientation-vertical">
    <div class="ship-icon-vertical"></div>
  </label>

    </div>


    <div class="grid-container d-inline-block">
        @for (row of grid; track $index; let i = $index) {
        <div class="d-flex">
            @for (cell of row; track $index; let j = $index) {
            <div class="cell" (click)="onCellClick(i, j)" [class.horizontal]="isShipHorizontal(i, j)">
                <div class="inside-cell" [ngClass]="{
          'ship-start': isShipStart(i, j),
        'ship-middle': isShipMiddle(i, j),
        'ship-end': isShipEnd(i, j),
        'horizontal': isShipHorizontal(i, j),
        'vertical': isShipVertical(i, j)
          }"></div>
            </div>
            }
        </div>
        }
    </div>

    <p class="mt-1 text-white message">{{ message }}</p>

    <div>
        <button class="btn btn-success" (click)="startGame()"><i class="bi bi-check me-2"></i>Ready</button>
        <button class="btn btn-dark ms-2" (click)="resetGrid()">Reset</button>
    </div>
</div>