.full-grid {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #fff;
}

.grid-container {
    display: inline-block;
}

.disabled {
    pointer-events: none;
}

.ship-start.horizontal {
    border-radius: 50% 0 0 50% / 50% 50%;
    border: 1px solid red !important;
    border-right: 1px solid transparent !important;
}

.ship-end.horizontal {
    border-radius: 0 50% 50% 0 / 50% 50%;
    border: 1px solid red !important;
    border-right: 1px solid transparent !important;
}

.ship-start.vertical {
    border-radius: 50% 50% 0 0 / 50% 50%;
    border: 1px solid red !important;
    border-right: 1px solid transparent !important;
}

.ship-end.vertical {
    background-color: black;
    border-radius: 0 0 50% 50% / 50% 50%;
    border: 1px solid red !important;
    border-right: 1px solid transparent !important;
}

.hit {
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.05);
}
