.full-grid {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside-cell {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
}

.grid-container {
    display: inline-flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.disabled {
    pointer-events: none;
}

.ship-start,
.ship-middle,
.ship-end {
    background-image: url('/img/icon_ship.svg');
    background-repeat: no-repeat;
    border: 1px solid red;
}

.ship-start.horizontal,
.ship-middle.horizontal,
.ship-end.horizontal {
    background-size: calc(var(--ship-size) * 100%) 100%;
}

.ship-start.horizontal {
    background-position: 0% center;
}

.ship-middle.horizontal {
    background-position: calc(100% / (var(--ship-size) - 1)) center;
}

.ship-end.horizontal {
    background-position: 100% center;
}

.ship-start.vertical,
.ship-middle.vertical,
.ship-end.vertical {
    background-size: calc(var(--ship-size) * 100%) 100%;
    transform: rotate(90deg);
}

.ship-start.vertical {
    background-position: 0% center;
}

.ship-middle.vertical {
    background-position: calc(100% / (var(--ship-size) - 1)) center;
}

.ship-end.vertical {
    background-position: 100% center;
}

// .ship-middle {
//     background: red;
// }
.hit {
    width: 1rem;
    height: 1rem;
    inset: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 255, 0.25);
}
